/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

/* Tag Selectors */

*, 
*::before,
*::after {
	box-sizing: border-box;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

nav {
	clear: both;
	width: 610px;
	margin: auto;
}

nav ul {
	float: left;
}

nav li {
	list-style: none;
	display: inline-block;
	padding: 4px;
	text-transform: uppercase;
	font-weight: 500; 
	color: #06365f;
	font-size: 12px;
}

nav span {
	float: left;
	margin-top: 20px;
	margin-left: 25px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: gray;
}

main {
	top: 95px;
	left: 50%;
	position: absolute;
	width: 760px;
	margin-left: -380px;
}

header img {
	padding-bottom: 20px;
	width: 330px;
	float: left;
	padding-right: 24px; 
}

button {
	background: #5A7FA0
	url('../images/home.png');
	width: 90px;
	height: 40px;
	padding-left: 30px;
	margin-top: 12px;
	margin-right: 20px;
	background-position: 5px;
	background-repeat: no-repeat;
	border: 1px solid #06365f;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	float: right;
}

header {
	display: block;
	width: 514px;
}
/* Class Selectors */

.background {
	width: 100%;
	height: 281px;
	background-image: url('../images/bgtile.png');
	background-repeat: repeat-x;
	position: relative;
}


.left {
	width: 40%;
	float: left;
}

.left img {
	max-width: 100%;
}


.right {
	width: 60%;
	float: left;
	padding: 20px;
}

.content-text {
	display: inline-block;
	clear: both;
	background-image: url('../images/frame.png');
	background-repeat: no-repeat;
	width: 504px;
	height: 284px;
	padding: 5px 30px;
}

.content-text h1 {
	color: #06365f;
	font-size: 25px;
	width: 260px;
	line-height: 1.3;
}

.content-text span {
	font-weight: bold;
}

.content-text p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;
}

.download {
	padding-top: 30px;
	width: 514px;
	display: block;
}

.ios {
	padding-left: 25px;
	width: 40%;
	float: left;
}

.ios img {
	max-width: 100%;
}

.android {
	padding-left: 0px;
	width: 50%;
	float: left;
}

.android img {
	max-width: 100%;
}

/* ID Selectors */

/* Advanced Selectors */

/* Pseudo Selectors */